# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
.Python

# Environment variables
.env
*.env

# pytest cache
.pytest_cache/
.cache/

# MyPy & other tools
.mypy_cache/
.dmypy.json
.pyre/

